label {
    margin: 10px;
    display: block;
}

textarea {
    display: block;
    margin: 10px auto;
}

input {
    display: block;
    margin: 10px auto;
}

select {
    display: block;
    margin: 10px auto;
}