* {
  margin: 0;
  padding: 0;
}
.App {
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: darkcyan;
  color: darkcyan;
}
