* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.page {
  height: 100vh;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3d235a;
}
.page h3 {
  margin: 20px;
}
.button {
  display: block;
  margin-bottom: 20px;
  background-color: #3d235a;
  color: white;
  outline: none;
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.box img {
  width: 100%;
  max-width: 300px;
  min-height: 200px;
}
