.film-card {
  width: 250px;
  min-height: 450px;
  margin: 0 50px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 lightgrey;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
}
